@model MvcBlog.Models.Blog

@{
    ViewBag.Title = @Html.DisplayFor(model => model.Title);
}

<h2>@Html.DisplayFor(model => model.Title)</h2>
@Html.DisplayFor(model => model.Date)
<p>@Html.DisplayFor(model => model.Body)</p>
<p>
    @Html.ActionLink("Back", "Index")
</p>
