@model IEnumerable<MvcBlog.Models.Blog>

@{
    ViewBag.Title = "Blog";
}

<h2>Blog</h2>

@foreach (var item in Model) {
        <h2><a href="@HttpContext.Current.Request.Url/@Html.DisplayFor(modelItem => item.Slug)">@Html.DisplayFor(modelItem => item.Title)</a></h2>            
            @Html.DisplayFor(modelItem => item.Date)
            <p>@Html.DisplayFor(modelItem => item.Body)</p>

    <p>
        @Html.ActionLink("Create New", "Create")
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </p>
}
